body {
  background-color: #E3E3E4;
  font-family: 'Playfair Display', san-serif;
  font-size: 120%;
}

h1 {
  font-size: 5em;
  text-align: center;
  margin: 25px auto;;
}

h2 {
  font-style: italic;
  text-align: center;
  margin: 25px auto;
}

a {
  color: blue;
}

a:hover {
  color: red;
}

a: visited{
  color: black;
}

figure {
  display: block;
  background-color: #AEADB1;
  padding: 50px;
  height:700px;
}

figure img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

figure figcaption {
  text-align: center;
}

footer {
  text-align: center;
}

#title {
  text-shadow: -3px 3px 3px white;
}

#tribute-info {
  list-style-type: circle solid;
  text-align: left;
  width: 50%;
  margin: auto;
}
